/*Inserta tu css aqui*/



body{

background: rgba(0,150,135,1);
background: -moz-linear-gradient(top, rgba(0,150,135,1) 0%, rgba(0,150,135,1) 20%, rgba(223,223,223,1) 20%, rgba(223,223,223,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,150,135,1)), color-stop(20%, rgba(0,150,135,1)), color-stop(20%, rgba(223,223,223,1)), color-stop(100%, rgba(223,223,223,1)));
background: -webkit-linear-gradient(top, rgba(0,150,135,1) 0%, rgba(0,150,135,1) 20%, rgba(223,223,223,1) 20%, rgba(223,223,223,1) 100%);
background: -o-linear-gradient(top, rgba(0,150,135,1) 0%, rgba(0,150,135,1) 20%, rgba(223,223,223,1) 20%, rgba(223,223,223,1) 100%);
background: -ms-linear-gradient(top, rgba(0,150,135,1) 0%, rgba(0,150,135,1) 20%, rgba(223,223,223,1) 20%, rgba(223,223,223,1) 100%);
background: linear-gradient(to bottom, rgba(0,150,135,1) 0%, rgba(0,150,135,1) 20%, rgba(223,223,223,1) 20%, rgba(223,223,223,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009687', endColorstr='#dfdfdf', GradientType=0 );
}


.container{
display: table;
width: 100%;
height: 100%;
}

.row{
	
	padding: 0px;
	background-color: #eeeeee;
}

.col-xs-4{
	padding: 0px
}

.col-xs-8{
	padding: 0px

}

.contact{
	overflow: auto;
	height: 600px;
}

.contact-container{
	padding: 10px 16px 10px 15px;
	box-sizing: border-box;
	width: 100%;
	background-color: #eee;
	height: 60px;
	border-bottom: 1px solid #dadada;

}

.user-container{
float: left;
}

.panel-control{
float: right;
margin-top: 10px;
}

.iconos{
	font-size: 20px;
	color: #777777;

	margin-left: 18px;
	margin-right: 10px;
	cursor: pointer;
}

.search-container{
	background: #fefefe;
	padding: 10px;
	height: 55px;
	overflow: hidden;
	border-bottom: 1px solid #dadada;
	
}

.search{
	position: relative;
}

.search input{
	padding: 8px 0px 8px 65px;
	width: 100%;
	border: none;
	outline: none;
	font-family: "Roboto", sans-serif;
	font-size: 13px;

}

.icon-search{
	position: absolute;
    color: #dadada;
    margin-top: 10px;
    margin-left: 20px;
}

.img_ws{
	height: 40px;
	width: 40px;
	cursor:pointer;
	border-radius: 50%;
}



.img_contact{
	height: 49px;
	width: 49px;
	cursor:pointer;
	border-radius: 50%;
}

.contacts-container{
	background: #fff;	
}

.contact-chat{
	padding: 10px 16px 10px 15px;
	box-sizing: border-box;
	width: 100%;
	background-color: #eee;
	height: 72px;
	border-bottom: 1px solid #dadada;
}

.foto_contact{
	width: 5%;
	padding-right: 50px;
}

.foto_contact,
.contact-info,
.opciones{
	display: inline-block;
}

.name-contact{
font-size: 16px;
font-weight: bold;
}

.cell-phone{
font-size: 13px;
line-height: 18px;
}

.contact-info{
	height: 39px;
	vertical-align: middle;
}

.opciones{
	padding-top: 10px;
	float: right;
}



.message
{
  	border-bottom: 1px solid #dadada;
   	border-left: 1px solid #dadada;
   /*background-color: rgba(229, 221, 213, 0.5);*/
	background-image: url(../image/chat-panel-bg.png);
	background-repeat: repeat;
	background-size: contain;
	background-color: #ede9e4;
	overflow: auto;
	height: 600px;
}



.chat-izquierdo{
	background: #fff;
	padding: 5px;
	margin-top: 10px;
	margin-left: 25px;
	overflow: hidden;
	width: 50%;
	border-radius: 4px;
}

.chat-izquierdo a{
	text-decoration: none;
	font-weight: 500;
}

.chat-izquierdo p{
	padding:0px;
	margin:0px;
}


.chat-izquierdo span, .chat-derecha span{
	float: right;
}


.message-1{
	color: #33b2e2;
}

.message-2{
	color: #e542a3;
}

.message-3{
	color: #35cd99;
}
.message-4{
	color: #e3b610;
}

.chat-derecha{
	float: right;
	background: #dcf8c6;
	padding: 5px;
	overflow: hidden;
	border-radius: 4px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 280px;
	margin-right: 50px;
	width: 190px;
}

.chat-derecha p{
	padding:0px;
	margin:0px;
}





	






.pane-chat-footer{
	margin-top: 20px;
	background: #f2f0ee;
    padding: 10px;
    height: 55px;
    overflow: hidden;
    
}

.pane-chat-footer input[type="text"]{
	padding: 8px 10px;
	border:none;
	outline: none;
	border-radius: 5px;
	width: 100%;
	font-family: "Roboto", sans-serif;
	font-size: 15px;
	color: #4b4b4b;
}

.col-enviar-mensaje-1{
	width: 4%;
	display: inline-block;
}

.col-enviar-mensaje-2{
	width: 90%;
	display: inline-block;
}



@media screen and (max-width: 900px)
{
.contact{
	width: 40%;
}

.message{
	width: 60%;
}
}









@media screen and (max-width: 1024px) and (min-width: 901px){

.contact{
width: 35%;
}
.message{
width: 65%;
}

}








@media screen and (max-height: 1300px) and (min-width: 1025px){
.contact{
width: 35%;
}
.message{
width: 65%;
}



}

@media screen and (min-width: 1200px){
.container{
	width: 1118px;
	padding-top:19px;
	height: calc(100% - 38px);
	margin: 0 auto;
	border-radius: 3px;
	
}


}

@media screen and (min-width: 1301px){

.contact{
	width: 30%;
}

.message{
	width: 70%;
}

}


@media screen and (min-width: 1320px){
	.container{
		width: 1276px;
	}
}



@media screen and (max-width: 648px){

.container{
	overflow-x: auto;
}

}